<a href="https://colab.research.google.com/github/rumanabintayousuf/Basic_Python/blob/main/Basic_Python_file_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Print Output**

In [ ]:
"Hello World"

'Hello World'

In [ ]:
5+7

12

In [ ]:
"5+7"

'5+7'

In [ ]:
#anything() <- This is a format for function
# Python is Case Sensitive

print("Hello World")

Hello World

In [ ]:
print(8)

8

In [ ]:
print(4.5)

4.5

In [ ]:
print(True)

True

In [ ]:
print("True")

True

In [ ]:
print(False)

False

In [ ]:
print("Hello",60,4.5)

Hello 60 4.5

In [ ]:
print("Hello",60,4.5,sep="****")

Hello****60****4.5

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print("Hello",end="---")
print("World")
print("DS")

Hello---World
DS

In [ ]:
print("Hello", 5959,9.6,True, sep="\n")

Hello
5959
9.6
True

## **2. Data Type**

In [ ]:
## Integer
print(10)

type(10)

10

int

In [ ]:
## Decimal/Float

type(4.5)

float

In [ ]:
## Complex
type(5+6j)

complex

In [ ]:
## Boolean
type(True)

bool

In [ ]:
type(False)

bool

In [ ]:
type("True")

str

In [ ]:
## List , Similar to C's Array

print([2,3,4,5,6,6.7,"DS",True,90])

type([1,2,3,4,5,6,6.7,"DS",True])

[1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 6.7, 'DS', True]

list

In [ ]:
a=[2,3,4,5,6,6.7,"DS",True,90]

a

[2, 3, 4, 5, 6, 6.7, 'DS', True, 90]

In [ ]:
## Tuple

print((1,1,1,1,1,1,2,3,4,5,True,4.5,"Ds360"))

type((1,2,3,4,5,True,4.5,"Ds360"))

(1, 1, 1, 1, 1, 1, 2, 3, 4, 5, True, 4.5, 'Ds360')

tuple

In [ ]:
## Sets
print({1,1,1,1,1,1,2,3,4,5,6,6,6,6,6,6,6,6})

type({1,2,3,4,5})

{1, 2, 3, 4, 5, 6}

set

In [ ]:
## Dictionary ,stays in key value pair

print({"Name":"DS360","Platform":"Online"})

{'Name': 'DS360', 'Platform': 'Online'}

## **3. Variables**

In [ ]:
 ## Python is smart enough to understand the dtype by itself

name="DS360"

name

'DS360'

In [ ]:
type(name)

str

In [ ]:
5+6

11

In [ ]:
## Arithmetic with variable

a= 5
b=6

a+b

11

In [ ]:
type(a)

int

In [ ]:
## Dynamic Typing <-- commonly asked interview question
a=5

# see here we didnt tell python the data type manually like
# other prog lang like c/c++ , python could himself determine
# what as the data type this is called dynamic typing

## Static Typing

int a =5

float b = 4.5

In [ ]:
## Dynamic Binding

a=5
print(a)
a="DS360"
print(a)


## in python as you can see data type are automatically fixed
## in other language once data type is fixed u cannot change it ,
# that is called static binding

int a =5

5
DS360

In [ ]:
## Styles of creating variables

a=8
b=9
c=10
print(a,b,c)
#or you can do this in one line

x,y,z=2,1,3

print(x,y,z)

#what if you want to give multiple variable a single value?

a=b=c=5
print(a,b,c)

8 9 10
2 1 3
5 5 5

## **4. Keywords and Identifiers**

## Identifiers rules :
ðŸ”¹ Rules for Naming Identifiers:
- Can have letters (a-z, A-Z), digits (0-9), and underscore _
- Must start with a letter or underscore (_), not a number
- Case-sensitive â†’ Age and age are different
- Cannot be a keyword

In [ ]:
name="ds360"
age=10

In [ ]:
#You cannot run
1name="DS"

SyntaxError: invalid decimal literal (4020198347.py, line 2)

In [ ]:
name1="DS"

name1

'DS'

In [ ]:
age=10
Age=10

In [ ]:
## You can use special Charc -> _
first_name="DS"
last_name="360"

print(first_name,last_name)

DS 360

## **5. User Input**

In [ ]:
 ## This lets users input anything

input()

''

In [ ]:
## We must tell the users what to enter !

input("Enter Your Name : ")

'DS360'

In [ ]:
## Lets Write a Program
## The Task is to take to number input from the user and do addition ## 2

# 1. Take input from user and store them in variable
# 2.Add the 2 variablers
# 3. Print the results

first_num=input("Enter First Number:") ## takes it as string
sec_num=input("Enter sec Number:")

print(first_num+sec_num)


 ## See the strange result? it's beacause we havent fixed the typing which is string by default

1020

In [ ]:
type(first_num)

str

## **6. Type Conversion**

In [ ]:
## Implicit vs Explicit

## Inplicit means interpreter does the conversion easily

print(10+9.2) ## python himself understood that the result is going to be float

19.2

In [ ]:
type((10+9.2))

float

In [ ]:
## Explicit Type Conversion

## str -> int
int(4.5)
#type(int("4"))

# int -> string

str(4)


# int to float

float(5)

5.0

Now let's complete our Program

In [ ]:
## Lets Write a Program
## The Task is to take to number input from the user and do addition

# 1. Take input from user and store them in variable
# 2.Add the 2 variablers
# 3. Print the results

first_num=int(input("Enter First Number:")) ## converted to int
sec_num=int(input("Enter sec Number:"))

print(first_num+sec_num)

30

## **7. Operators**

- Arithmetic Op --> + - * /
- Relational Op --> < > <= >=
- Logical Op --> AND OR NOT
- Bitwise Op --> Later
- Assignment Op --> ==
- Membership Op --> Later

In [ ]:
## Arithmetic OP
print (5+7)
print (10-5)
print (5*6)
print(5/2)
print (5//2)  # Int Division
print(5%2) # Tells you the reminder
print (5**2) ## Square

12
5
30
2.5
2
1
25

In [ ]:
## Relational Operators

print(5>4)
print(4>5)
print(4 >= 4)
print(3<=3)
print(3==3) #=
print(2!=2) #not equal to

True
False
True
True
True
False

In [ ]:
## Logical Operators

# AND,OR,NOT

# AND -> Both Values are true
# Or -> Anyone value True
# Not -> reverses

x = 10
y = 5

print(x > 15 and y < 10)  # AND â†’ True (both must be True)
print(x > 15 or y < 10)  # OR â†’ True (at least one must be True)
print(not(x > 15))        # NOT â†’ False (reverses True to False)

False
True
True

In [ ]:
## Assignment Op --> Used to assign values to variables.

x = 10  # Assign value
x += 5  # Same as x = x + 5 â†’ x becomes 15
x -= 3  # Same as x = x - 3 â†’ x becomes 12
x *= 2  # Same as x = x * 2 â†’ x becomes 24
x /= 4  # Same as x = x / 4 â†’ x becomes 6.0

## in python a++ , ++a these are not allowed

In [ ]:
## Membership Operators --> Membership (in, not in) â†’ Checks if a value exists in a sequence (list, string, etc.)

print("d" in "Dhaka")
print("D" not in "Dhaka")

print(2 in [2,3,4,5])

False
False
True

**Prog- 2**

In [ ]:
# Find the sum of a 3 digit number entered by the user

number=int(input("Enter 3 digits")) ## 345 ->12

a= number % 10 ## 5 ( from 345 )

number= number // 10 ## Now number has 34

b= number % 10  ## 4 ( from 34 )

number= number // 10  ## now number has 3

c= number  ## 3 or You can write only Num as welll

print(a+b+c)

12

In [ ]:
34//10

3

In [ ]:
345/10

34.5

In [ ]:
345//10

34

## **8. If-Else**

In [ ]:
## Program is alws executed from top to bottom
## Go through the slides to understand the workflow

In [ ]:
# Syntax - Dont Run it

if condition:
    #Code
elif condition:
    #Code
else:
    #Code

## Identation is must in python

In [ ]:
num=10


if num > 1000 :
    print("The condition is true")
else:
    print("The condition is false")

The condition is false

In [ ]:
## Login Program
# Email -> ds360@gmail.com
# Password -> 12345

email=input("Enter Email:")
password=int(input("Enter Password :"))

if email== "ds360@gmail.com" and password == 12345:
    print("Welcome")
else:
    print("wrong pass or email")

wrong pass or email

In [ ]:
## whenever there are more than 2 conditions we will use elif

email=input("Enter Email:")
password=int(input("Enter Password :"))

if email== "ds360@gmail.com" and password == 12345:
    print("Welcome")
elif email!= "ds360@gmail.com" and password == 12345:
    print("Wrong Email")
elif email== "ds360@gmail.com" and password != 12345:
    print("Wrong Password")
else:
    print("wrong pass or email")

Wrong Password

In [ ]:
## Nested If-else
#what if user was given another chance to enter the password


email=input("Enter Email:")
password=int(input("Enter Password :"))

if email== "ds360@gmail.com" and password == 12345:
    print("Welcome")
elif email!= "ds360@gmail.com" and password == 12345:
    print("Wrong Email")
elif email== "ds360@gmail.com" and password != 12345:
    print("Wrong Password")
    password=int(input("Enter Password :"))
    if email== "ds360@gmail.com" and password == 12345:
        print("Welcome,Finally")
    else:
        print("Again wrong Pass")
else:
    print("wrong pass or email")

Wrong Password
Welcome,Finally

### **if - else EXAMPLES**

1. Find the min of 3 given numbers
2. Calculator

In [ ]:
#min of three numbers
# user will input 3 digits , we need to find out which one is the minimum




a= int(input('first num')) # 5
b= int(input('sec num')) # 4
c= int(input('third num')) # 6

if a < b and a < c:
    print("a is the smallest number which is",a)
elif  b < c: # no need of b < a
    print("b is the smallest number",b)
else:
    print("c is the smallest number",c)



# Note: This wasnâ€™t shown in class, but if you understand the concepts, you will understand this program as well.

In [ ]:
# Calculator

num1= int(input("enter the first num"))
num2= int(input("enter the sec num"))

## Now we want to ask the user that what op we are trying to do on thse numbers
# plus minus mul div?

op = input("Enter The Operation") # So user may press +, - ,* , /

if op == '+':
    print(num1+num2)
elif op== '-':
    print(num1-num2)
elif op=='*':
    print(num1*num2)
elif op=="/":
    print(num1/num2)
else :
    print("Invalid Input")

200